<!DOCTYPE html>
<html lang="ja">
<%- include('./components/_head.ejs'); %>

<body>
  <div>
    <h1>テスト</h1>
    <p>テキスト</p>
    <img
      src="./img/logo.png"
      alt="logo"
      width="420"
      height="420"
    />
  </div>
</body>

</html>
